/* 
 *  Typography
 */

html{ 
  @include khtml(); 
}
body{ 
  @include kbody();
  font-family: $sans;
}

%headings{
  font-weight: 400;
}

h1{
  @extend %headings;
  @include ktype(6,0,1);
  font-family: 'Oswald', $sans;
  text-transform: uppercase;
}
h2{
  @extend %headings;
  @include ktype(4,1,1);
}
h3{
  @extend %headings;
  @include ktype(3,1,1);
}
h4{
  @extend %headings;
  @include ktype(2,1,1);
}
h5{
  @extend %headings;
  @include ktype(2,1,1);
}
h6{
  @extend %headings;
  @include ktype(1,1,1);
}

p, ol, ul, li{
  @include ktype(1,1,0);
}
ol, ul{
  padding-left: kunit(1);
  ol, ul{
    @include ktype(1,0,0);
  }
}
li{
  @include ktype(1,0,0);
}

img{
  max-width: 100%;
  height: auto;
}

// Utilities
.center{
  text-align: center;
}